*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color:rgb(210, 226, 243);
}


.container {
  max-width: 1000px;
  min-height: 590px;
  background-color: white;
  margin: 5vh auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
}



.sidebar {
  flex: 1;
  background-color: rgb(54, 76, 245);
  border-radius: 10px;
  padding: 35px 40px;
  color: white;
}

.sidebar h3{
  font-size: small;
  opacity: .9;
  margin-bottom: 20px;
}

.sidebar h2{
  margin-bottom: 20px;
}

.sidebar p{
  color: lightblue;
  line-height: 1.5;
}



.form {
  flex: 1.3;
  background-color: white;
  border-radius: 10px;
  padding: 25px 20px;
  position: relative;
}

form{
  padding-left: 1em;
}

.blue{
  color: blue;
  margin-bottom: 10px;
}

.grey{
  color: lightslategray;
  margin: 10px 0 25px;
}

.acc{
  margin-bottom: 22px;
}

form .app label{
  font-size: 14px;
}

form .app input {
  width: 95%;
  font-size: 15px;
  outline: none;
  border: 1px solid lightslategrey;
  padding: 10px;
  border-radius: 8px;
  margin-top: 6px;
}

form .app input:focus{
  background-color: grey;
  color: white;
}

form button{
  width: 45%;
  padding: 10px;
  margin-top: 7px;
  background-color: blue;
  color: white;
  font-size: large;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

form button:hover{
  background-color: white;
  color: blue;
  border: 1px solid blue;}

@media (max-width: 900px){
  .container{
    max-width: 95%;
    flex-direction: column;
    padding: 15px;
  }

  .sidebar{
    width: 100%;
    height: auto;
  }
  .form {
  position: relative;
  top: 10px;
  left: 5px;
}


  form{
    padding-left: .5em;
  }

  form .app input{
    width: 100%;
  }

  form button{
    width: 65%;
  }
}


@media (max-width: 500px){
  .container{
    padding: 12px;
  }

  .sidebar{
    padding: 25px 20px;
  }

  .form{
    padding: 20px 10px;
  }

  form .app input{
    font-size: 14px;
  }

  form button{
    width: 90%;
  }
}
