*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: white;
    color: black;
    border-bottom: 1px solid black;
    width: 100vw;
    padding: 20px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;

    
}
.main, .tabs, .icons{
    display: inline-block;
}

.main{
    width: 35%;

}

.main h1 img{
    padding-top: 5px;
}

.tabs{
    width: 35%;
    padding-top: 8px;
}

.tabs a{
    color: black;
    justify-content: space-between;
    margin: 15px;
    font-size: 20px;
    text-decoration: none;

}
.tabs a:hover{
    color: blue;
}


.icon{
    width: 53px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    margin-left: 160px;
    border: 1px solid grey;
    border-radius: 20px;
}
.icon:hover{
    background-color: rgb(58, 66, 63);
    color: white;
    border: 1px solid white;
}

.list{
    font-size: 23px;
    padding-bottom: 4px;
}
 
h4{
    padding-bottom: 4px;
}
h4:hover{
    color: blue;
    text-decoration: underline;
}

.para{
    font-size: 18px;
    padding-bottom: 4px;

}
.bana{
    font-size: 18px;
    border-left: 3px solid gray;
    padding: 9px;
    margin: 8px;
}

 .parent{
   max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(246, 96, 116);
  flex-wrap: wrap;
  display: flex;
  align-content: center;
}


.child {
  height: 100vh;
  background-color:white;
  /* border-right: 1px solid rgb(82, 80, 80); */
  font-size: 2em;
  color: black;
}


.child1{
   flex-grow: 1;  
   width: 20%;
   align-self: flex-start; 
   padding-top: 110px;
   padding-left: 10px;
}

 .child2{
   flex-grow:2; 
   padding-top: 100px;
      width: 59%;



}

.child3{
   flex-grow: 1; 
   width: 20%;
   padding-top: 100px;
   align-self: flex-end; 
}

select{
    width: 250px;
    height: 30px;
    font-size: 18px;
    border: none;
    margin: 0;
}

select:hover{
    color: blue;
    text-decoration: underline;
}
h3{
    padding: 8px;
    font-size: xx-large;
}
h3:hover{
    color: blue;
    text-decoration: underline;
}

p{
    font-size: 20px;
    padding-left: 9px;
    padding-bottom: 16px;
    padding-right: 6px;
}

li{
  font-size:20px ;
  padding: 10px;
}


@media (max-width:1110px) {
    .icon{
        margin: 20px;
        padding: 0 2px 0 1px;
        width: 30px;
        height: 20px;
    }
    
    
}
@media (max-width:810px){
    .tabs a{
        display: block;
    }
    .child{
        padding-top: 270px;
    }
}